# 4.0 ETL (Data Cleaning and Integration)
This section describes the Extract, Transform, and Load (ETL) process used to prepare the air quality and meteorological datasets for integrated analysis and modelling

### 4.1 Data Harmonisation
Before merging, both datasets are harmonised to ensure consistency in temporal resolution, variable naming, and data types.

In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import matplotlib.pyplot as plt
import os

In [2]:
weather_df = pd.read_csv("../datasets/weather_df.csv")
aq_df = pd.read_csv("../datasets/air_quality_df.csv")

In [5]:
# load weather variables data
weather_df.dtypes

date                     object
temperature_2m          float64
relative_humidity_2m    float64
precipitation           float64
wind_speed_10m          float64
surface_pressure        float64
city                     object
country                  object
lat                     float64
lon                     float64
dtype: object

In [6]:
aq_df.dtypes

date                 object
pm10                float64
pm2_5               float64
carbon_monoxide     float64
sulphur_dioxide     float64
ozone               float64
us_aqi              float64
carbon_dioxide      float64
nitrogen_dioxide    float64
city                 object
country              object
lat                 float64
lon                 float64
dtype: object

### 4.1.1 Clean & Prepare Each Dataset
- a) Weather forecast variables dataset

In [4]:
# Weather dataset
weather_df['date'] = pd.to_datetime(weather_df['date']) # change to datetime
weather_df['date_day'] = weather_df['date'].dt.date # create new column date_day
weather_df['hour'] = weather_df['date'].dt.hour #create new column hour

weather_df.head(3)

,date,temperature_2m,relative_humidity_2m,precipitation,wind_speed_10m,surface_pressure,city,country,lat,lon,date_day,hour
0,2025-11-07 00:00:00+00:00,18.7575,77.0,0.0,6.696387,1006.03955,Los Angeles,US,34.0522,-118.2437,2025-11-07,0
1,2025-11-07 01:00:00+00:00,17.6075,84.0,0.0,5.116561,1006.09620,Los Angeles,US,34.0522,-118.2437,2025-11-07,1
2,2025-11-07 02:00:00+00:00,16.7575,89.0,0.0,2.811690,1005.86676,Los Angeles,US,34.0522,-118.2437,2025-11-07,2

- b) Air quality variables

In [6]:
# Air quality dataset 
aq_df['date'] = pd.to_datetime(aq_df['date'])
aq_df['date_day'] = aq_df['date'].dt.date
aq_df['hour'] = aq_df['date'].dt.hour
aq_df.head(2)

,date,pm10,pm2_5,carbon_monoxide,sulphur_dioxide,ozone,us_aqi,carbon_dioxide,nitrogen_dioxide,city,country,lat,lon,date_day,hour
0,2025-11-07 00:00:00+00:00,12.3,11.8,252.0,15.1,57.0,103.125000,466.0,29.5,Los Angeles,US,34.0522,-118.2437,2025-11-07,0
1,2025-11-07 01:00:00+00:00,13.5,12.6,307.0,13.5,43.0,102.239586,472.0,38.9,Los Angeles,US,34.0522,-118.2437,2025-11-07,1